/**
 * @param number $radius
 */
/**
 * @param number $radius [0.0-1.0]
 */
/**
 * @param string $value
 *
 * none:        The text of the element and sub-elements will appear as if they cannot be selected.
 *              Any use of Selection however will contain these elements.
 * text:        The text can be selected by the user.
 * -moz-none:   The text of the element and sub-elements cannot be selected,
 *              but selection can be enabled on sub-elements using -moz-user-select:text
 * all:         In an HTML editor, if a double-click or context-click occurred in sub-elements,
 *              the highest ancestor with this value will be selected.
 * element:     Supported in Firefox and Internet Explorer. Enables selection to start within
 *              the element; however, the selection will be contained by the bounds of that element.
 */
/**
 * @param string $property
 * @param number $duration [ease linear ease-in ease-out ease-in-out]
 * @param string $timing-function
 * @param number $delay default:0
 *
 */
/**
 * @param number $horizontal
 * @param number $vertical
 * @param number $blur
 * @param number $spread
 * @param string $color
 * @param string $inset default:''
 */
/**
 * @param color $start-color
 * @param color $end-color
 */
/**
 * @param number $radius
 */
/**
 * @param number $radius [0.0-1.0]
 */
/**
 * @param string $value
 *
 * none:        The text of the element and sub-elements will appear as if they cannot be selected.
 *              Any use of Selection however will contain these elements.
 * text:        The text can be selected by the user.
 * -moz-none:   The text of the element and sub-elements cannot be selected,
 *              but selection can be enabled on sub-elements using -moz-user-select:text
 * all:         In an HTML editor, if a double-click or context-click occurred in sub-elements,
 *              the highest ancestor with this value will be selected.
 * element:     Supported in Firefox and Internet Explorer. Enables selection to start within
 *              the element; however, the selection will be contained by the bounds of that element.
 */
/**
 * @param string $property
 * @param number $duration [ease linear ease-in ease-out ease-in-out]
 * @param string $timing-function
 * @param number $delay default:0
 *
 */
/**
 * @param number $horizontal
 * @param number $vertical
 * @param number $blur
 * @param number $spread
 * @param string $color
 * @param string $inset default:''
 */
/**
 * @param color $start-color
 * @param color $end-color
 */
/**
 * reset the spacing of an element
 */
/**
 * reset a list element
 */
/**
 * reset the font size
 */
/**
 * calculate the font size and line height in em's
 *
 * @param number $font_size
 * @param number $line_height, default -1
 */
/**
 * create sprites
 *
 * @param list $sprites
 * @param number $sprite-width
 * @param number $sprite-height
 * @param number $sprite-items-per-row
 * @param number $background-color
 * @param number $image-path
 * @param number $sprite-offset-width, default 0
 * @param number $sprite-offset-height, default 0
 */
body {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  background: black url("../img/body.jpg") no-repeat center -40px; }

div#ui-datepicker-div {
  background: #ffffff;
  border: 1px solid black; }

img.logo {
  display: block;
  margin: 100px auto 20px auto; }

#app {
  width: 810px;
  margin: 0 auto; }

p.intro {
  padding: 50px 150px 60px;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  color: #cb2121;
  font-family: "Georgia", serif;
  text-shadow: 0px 0px 2px white; }

a#fb-connect {
  margin: 0 auto;
  display: block;
  width: 212px;
  height: 41px;
  padding: 20px;
  background: url("../img/start.png") no-repeat top center;
  text-indent: -999em;
  overflow: hidden; }

.ui-datepicker {
  width: 275px;
  text-align: center;
  font-size: 14px; }

.ui-datepicker td a {
  text-align: center; }

.logo-small {
  display: block;
  padding: 20px 0 20px 0; }

#stats {
  margin: 0;
  padding: 0; }

#stats li {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
  -o-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
  list-style: none;
  margin: 0 0 15px 0;
  padding: 20px 0 0 0;
  width: 350px;
  background: #ffffff;
  border: 15px solid black;
  text-align: center;
  font-size: 60px;
  line-height: 70px;
  font-weight: bold; }

#stats span.caption {
  height: auto;
  padding: 0 0 10px 0;
  font-size: 20px;
  line-height: 24px;
  display: block;
  font-weight: normal; }

.support {
  text-align: center;
  margin: 0 0 15px 0;
  padding: 20px 0 0 0;
  width: 350px;
  background: #ffffff;
  border: 15px solid black;
  float: right; }

.support img {
  display: block;
  margin: 0 auto; }

div.login {
  padding: 60px 0 0 230px; }
  div.login form fieldset {
    padding: 0;
    margin: 0;
    border: none; }
    div.login form fieldset legend {
      display: none; }
    div.login form fieldset div.form-row {
      -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
      -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
      -o-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
      box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.3);
      margin: 0 0 15px 0;
      padding: 15px 0 0 0;
      width: 350px;
      background: #ffffff;
      border: 15px solid black;
      text-align: center; }
      div.login form fieldset div.form-row label {
        display: block;
        font-size: 20px;
        line-height: 45px;
        text-align: center; }
      div.login form fieldset div.form-row input {
        -webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        -o-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        padding: 0 10px;
        width: 260px;
        height: 60px;
        border: 1px solid #b6b6b6;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
        line-height: 60px; }
      div.login form fieldset div.form-row.count input {
        width: 150px; }
      div.login form fieldset div.form-row.price span {
        position: relative;
        margin: 0 0 0 -70px;
        display: inline-block;
        padding: 0 10px;
        width: 30px;
        font-size: 50px;
        font-weight: bold;
        line-height: 60px; }
      div.login form fieldset div.form-row.price input {
        width: 150px; }
      div.login form fieldset div.form-row.submit {
        padding: 0; }
        div.login form fieldset div.form-row.submit a {
          display: block;
          padding: 0 40px 0 0;
          background: #cb2121 url("../img/arrow.png") no-repeat 300px center;
          font-size: 35px;
          font-weight: bold;
          color: #ffffff;
          line-height: 90px;
          text-decoration: none;
          text-transform: uppercase; }
          div.login form fieldset div.form-row.submit a:hover {
            background-position: 310px center; }
