<script type="text/template" class="tpl-form">
    <form method="post" action="">
        <fieldset>
            <legend>Profile</legend>
            <div class="form-row">
                <label for="date_registered">Datum stoppen:</label>
                <input type="text" id="date_registered" name="date_registered">
            </div>
            <div class="form-row">
                <label for="date_smoker_since">Roker sinds:</label>
                <input type="text" id="date_smoker_since" name="date_smoker_since">
            </div>
            <div class="form-row">
                <label for="number_per_day">Hoeveel sigaretten:</label>
                <input type="text" id="number_per_day" name="number_per_day">
            </div>
            <div class="form-row">
                <label for="number_per_pack">Hoeveel sigaretten per pakje:</label>
                <input type="text" id="number_per_pack" name="number_per_pack">
            </div>
            <div class="form-row">
                <label for="cost_per_pack">Kosten per pakje:</label>
                <input type="text" id="cost_per_pack" name="cost_per_pack">
            </div>
        </fieldset>
    </form>
</script>