{% extends 'TTTSmokelessBundle::layout.html.twig' %}

{% block body %}

    <div id="app"></div>

    {% include 'TTTSmokelessBundle:Index:login.html.twig' %}

    {% include 'TTTSmokelessBundle:Index:form.html.twig' %}

    {% include 'TTTSmokelessBundle:Index:progress.html.twig' %}

{% endblock %}