{% extends 'TTTSmokelessBundle::layout.html.twig' %}

{% block body %}

	<img src="{{ asset('bundles/tttsmokeless/img/logo.gif') }}" alt="Quitter logo">
	<p>
		<a href="#" id="login">hello world!</a>
	</p>

{% endblock %}