<script type="text/template" id="tpl-login">
	<img src="{{ asset('bundles/tttsmokeless/img/logo.gif') }}" class="logo">
	<p class="intro">
		Quit smoking the social way! With your personal quiting statistics, tips and help from your friends!
	</p>
    <p>
        <a href="#" id="fb-connect">hello world!</a>
    </p>
</script>