<script type="text/template" id="tpl-progress">
    <ul>
        <li>
            <span class="weeks"></span>
            <span class="days"></span>
            <span class="hours"></span>
            <span class="minutes"></span>
        </li>
        <li>
            <span class="euro">&euro;</span>
            <span class="price"></span>
        </li>
        <li>
            <span class="count"></span>
        </li>
    </ul>
</script>