<script type="text/template" id="tpl-widgets">
    <ul>
        <li>
            <span class="weeks"></span>
            <span class="days"></span>
            <span class="hours"></span>
            <span class="minutes"></span>
        </li>
        <li></li>
        <li></li>
    </ul>
</script>